# Python
__pycache__/
*.pyc
.venv/
.venv*/
.pytest_cache/
.alembic/

# Node
node_modules/
dist/
pnpm-lock.yaml
yarn.lock
.DS_Store

# OS/Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Docker
*.log

# Env
.env
*.env
frontend/.env
backend/.env
